html {
  height: 100%;
}

* {
  border-radius: 0 !important;
}


body {
  min-height: 100%;
  font-family: "Avenir Next" !important;
  font-weight: bold;
  font-size: 24px;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
  letter-spacing: -0.025em;
  background: #f4f4f1;
  margin:0;
}

.container {
    background-size: 100%;
    height: 100vh;
    margin:0;
}

.container .artist {
  background-image: url('../img/enb.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 90vw;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}

.container .artist_title {
  height: 70%;
  width: 100%;
  border: 1px solid rgba(255, 0, 0, 0);;
  display: block;
}

.container .artistname {
  font-size: 8vw;
  font-weight: 300;
  text-align: center;
  color: white;
  margin-top:.25em;
}
.contents_container {
  height: 5em;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
}

.explanation {

}
.contents {
    min-width: 9em;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: white;
    margin-top:-.2em;
    margin-bottom:1em;
}

.contents #a {
  float: left;
}

.contents #b img {
  margin-left: auto;
  margin-right: auto;
  display:block;

}

.contents #c {
  float: right;
  text-align: center;
  line-height: .6em;
  font-weight: 300;
  font-size: 9pt;
  margin-top:1.5em;
  width:83px;
}


.payment {

}

.explanation {
  color: white;
  background-color: #337ab7;
  height: 3em;
  margin-bottom:0;
}

.explanation p {
  vertical-align: middle;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-top:1em;
  text-align: center;
  font-size: 11pt;
  font-weight: 100;
}

#amount {
  width: 100%;
  height: 2.2em;
}

.go_button {
  height: 2.5em;
  position: relative;
  background-color: #337ab7;
  width: 100%;
  color:white;
  text-align:center;
  margin:0;
  line-height: .7em;
}

.button_title {
  font-size: 11pt;
  font-weight: 100;
  padding-top:.5em;
}

.button_offer {
  font-size: 16pt;
  font-weight: 100;
}
